.wedding__header {
    width: 100%;
    height: 500px;
    background-image: url('../../public/assets/weddingMain.jpeg');
    background-size: contain;
    background-repeat: no-repeat;

    img {
        width: 100vw;
    }
}